<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="static/css/backend-plugin.min.css">
    <link rel="stylesheet" href="static/css/backend-1.0.2.css">
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/line-awesome.min.css">
    <link rel="stylesheet" href="static/css/remixicon.css">
    <link rel="stylesheet" href="static/css/dripicons.css">
    <link rel='stylesheet' href='static/css/main.css'>
    <link rel='stylesheet' href='static/css/main1.css'>
    <link rel='stylesheet' href='static/css/main2.css'>
    <link rel='stylesheet' href='static/css/main3.css'>
    <link rel="stylesheet" href="static/css/mapbox-gl.css">  </head>
<body class="  ">
<div class="row">
    <div class="col-xl-12 col-lg-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h6 class="card-title">请完善以下信息</h6>
                </div>
            </div>
            <div class="card-body">
                <form style="display:none;" id="iform" action="/api/task/upload.do" method="post" enctype="multipart/form-data">
                    <input type="file" id="file" name="file" onclick="showChoose()" accept="image/*" >
                </form>
                <form id="app">
                    <div class="form-group">
                        <label>任务描述</label>
                        <input type="text" class="form-control" v-model="description" readonly="readonly" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>开始日期</label>
                        <input type="date" class="form-control" v-model="stime" readonly="readonly" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>结束日期</label>
                        <input type="date" class="form-control" v-model="etime" readonly="readonly" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>完成状态</label>
                        <select class="form-control" v-model="status">
                            <option value="">请选择完成状态</option>
                            <option>未完成</option>
                            <option>已完成</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>完成情况</label><br>
                        <textarea style="width: 1000px;height: 100px" v-model="completion" placeholder="请输入完成情况" autocomplete="off"></textarea>
                    </div>
                    <div class="form-group">
                        <label>任务照片</label>
                        <input type="text" class="form-control" v-model="photo" onclick="clickChoose()" readonly="readonly" placeholder="<点击上传照片>" autocomplete="off">
                        <img id="img_pic"  class="mb-4" style="height:80px;width:80px;border:1px solid #cccccc;margin-top:10px;display: none;" alt="请上传照片"/>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg mt-3" @click="btnSubmit">提交信息</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Backend Bundle JavaScript -->
<script src="static/js/backend-bundle.min.js"></script>
<!-- Flextree Javascript-->
<!-- Table Treeview JavaScript -->
<script src="static/js/table-treeview.js"></script>
<!-- Masonary Gallery Javascript -->
<!-- Mapbox Javascript -->
<!-- Fullcalender Javascript -->
<script src='static/js/main.js'></script>
<script src='static/js/main1.js'></script>
<script src='static/js/main2.js'></script>
<script src='static/js/main3.js'></script>
<!-- Vectoe Map JavaScript -->
<script src="static/js/vector-map-custom.js"></script>
<!-- Chart Custom JavaScript -->
<script src="static/js/chart-custom.js"></script>
<!-- slider JavaScript -->
<script src="static/js/slider.js"></script>
<!-- app JavaScript -->
<script src="static/js/app.js"></script>
<!-- Jquery form JavaScript -->
<script src="static/js/jquery-form.js"></script>
<!-- Vue.js Vendors -->
<script src="static/vendor/vue/vue.global.js"></script>
<script src="static/vendor/vue/axios.min.js"></script>
<!-- Custom Javascript -->
<script>
    //创建Vue实例
    const app = Vue.createApp({
        data() {
            return {
                tid:演示用户,
                uid: '',
                description: '',
                stime: '',
                etime: '',
                status: '',
                photo: '',
                operator: '',
                completion:''
            }
        },
        mounted(){
            //获取信息
            axios.post("/api/task/get.do", {
                tid: this.tid
            }).then((response) => {
                // 判断结果
                if(JSON.parse(response.data.status)){
                    //显示信息
                    this.uid=response.data.data.uid.toString();
                    this.description=response.data.data.description;
                    this.stime=response.data.data.stime;
                    this.etime=response.data.data.etime;
                    this.status=response.data.data.status;
                    this.completion=response.data.data.completion;
                    this.photo=response.data.data.photo;
                    this.operator=response.data.data.operator;
                    $("#img_pic").attr("src","/img/"+response.data.data.photo);
                }else{
                    // 弹出错误信息
                    window.parent.swalForError('提示','网络请求失败，请稍后重试！');
                }
            }).catch((error) => {
                // 弹出错误信息
                window.parent.swalForError('提示','网络请求失败，请稍后重试！');
            });
            // 监听外部触发的自定义事件
            window.addEventListener('doUpdateVariableValue', (event) => {
                this.doUpdateVariableValue(event.detail.obj,event.detail.val);
            });
        },
        methods: {
            btnSubmit(){
                //检查输入
                if(this.uid.trim().length==0|| this.description.trim().length==0 || this.stime.trim().length==0|| this.etime.trim().length==0 || this.status.trim().length==0||this.operator.trim().length==0||this.photo.trim().length==0||this.completion.trim().length==0){
                    window.parent.swalForWarning("提示", "请先完善任务信息！");
                    return;
                }
                //请求后端
                axios.post("/api/task/modify.do", {
                    tid: this.tid,
                    uid: this.uid,
                    description: this.description,
                    stime: this.stime,
                    etime: this.etime,
                    status: this.status,
                    completion: this.completion,
                    photo: this.photo,
                    operator: this.operator
                }).then((response) => {
                    // 判断结果
                    if(JSON.parse(response.data.status)){
                        //新增成功
                        window.parent.swalForSuccess("提示","提交任务信息成功！");
                        //跳转修改页面
                        window.parent.showPage("userTask");
                    }else{
                        //新增失败
                        window.parent.swalForError("提示", "提交任务信息失败，可能是当前任务信息不存在！");
                    }
                }).catch((error) => {
                    // 弹出错误信息
                    window.parent.swalForError('提示','网络请求失败，请稍后重试！');
                });
            },
            //更新变量值
            doUpdateVariableValue(obj,val){
                if(obj=="photo"){
                    this.photo=val;
                }
            }
        }
    });
    //挂载实例
    app.mount('#app');
    //开始选择图片
    function clickChoose(){
        $("#file").click();
    }
    //选择图片并上传
    function showChoose() {
        var fileTag = document.getElementById('file');
        fileTag.onchange = function () {
            var file = fileTag.files[0];
            var fileReader = new FileReader();
            fileReader.onloadend = function () {
                if (fileReader.readyState == fileReader.DONE) {
                    $("#iform").ajaxSubmit(function (data) {
                        if(data=="false"){
                            window.parent.swalForError("提示", "很抱歉,上传图片失败!");
                        }else{
                            $("#img_pic").attr("src","/img/"+data);
                            $("#img_pic").css("display","block");
                            const obj='photo';
                            const val=data;
                            window.dispatchEvent(new CustomEvent('doUpdateVariableValue', { detail: { obj,val } }));
                        }
                    });
                }
            };
            fileReader.readAsDataURL(file);
        };
    }
</script>
</body>
</html>


